<nav class="navbar navbar-expand-lg navbar-dark primary-color cyan darken-3">
  <a class="navbar-brand" routerLink="/">Belhassen</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="cv">CV<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="realisations">réalisations </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="competences">Compétences</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="https://github.com/crownbackend" target="_blank">GITHUB</a>
      </li>
    </ul>
  </div>
</nav>
