<br />
<h1 class="text-center bounceInUp">
  Développeur web full-stack sur les technologies<br />
  <img src="../assets/img/php-brands.svg" alt="php Logo" width="160" height="160">
  <img src="../assets/img/symfony.svg" alt="symfony Logo" width="160" height="160">
  <img src="../assets/img/angular-brands.svg" alt="angular Logo" width="160" height="160">
</h1>
<div class="espace20"></div>
<h2 class="text-center h-focus">À propos de moi</h2>
<p class="">
  Bonjour et bienvenue sur mon cv On-line, je me présente <strong>Belhassen BOUCHOUCHA</strong>
  jeune développeur en cours, d'apprentissage, depuis jeune j'aime beaucoup l'informatique, quand j'étais petit je disais tout le temps<br />
  "quand je serais grand je serai un ingénieur en informatique", et j'ai toujours mon objectif en tête, sauf que je veux devenir
  un ingénieur en développement web (un génie du code).
  <br />
  Mon objectif ? perfectionnez le développement web, avoir les bonnes méthodes pour écrire du code propre, maintenanble et bien documenter,
  choisir les bonnes technos pour les projets que je réalise, découvrir de nouvelles technologies, de nouveau lanagages de programmations. <br >
</p>
<p>
  C'est pour cela j'apprend beaucoup en autodidacte : <br />
</p>
<ul class="list-group">
  <li class="list-group-item">NodeJs</li>
  <li class="list-group-item">Angular</li>
  <li class="list-group-item">ReactJs</li>
  <li class="list-group-item">Ruby</li>
  <li class="list-group-item">Docker</li>
  <li class="list-group-item">Linux et machines virtuelles (LAMP)</li>
  <li class="list-group-item">C#</li>
  <li class="list-group-item">Python</li>
</ul>
<div class="espace20"></div>
<p>
Vous pouvez voir mes réalisations <a routerLink="realisations">juste ici</a> <br />
si non vous avez le liens de mon github avec tout mes repository <a href="https://github.com/crownbackend" target="_blank">Voir github</a>
</p>
<div class="espace20"></div>


