<div class="espace30"></div>
<h1 class="text-center">Voici toutes mes compétences</h1>
<div class="espace30"></div>

<h2>Langages : </h2>
<div class="atout">HTML5</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<div class="atout">CSS3</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<div class="atout">JAVASCRIPT</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<div class="atout">PHP</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<div class="atout">SQL</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<div class="atout">C#</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<div class="atout">NodeJS</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<div class="atout">Ruby</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<h2>Framework</h2>
<div class="atout">SYMFONY</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<div class="atout">JQUERY</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<div class="atout">ANGULAR</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<h2>Framework CSS</h2>
<div class="atout">BOOTSTRAP</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<div class="atout">MATERIALIZE</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<div class="atout">FOUNDATION</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<h2>Divers</h2>
<div class="atout">MYSQL WORKBENCH</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<div class="atout">SGBD: MARIADB, DOCTRINE</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<div class="atout">OUTILS DE DEVELOPPEMENT: WAMP, DOCKER, LAMP, GIT</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<div class="atout">SYSTEME D'EXPLOITATION : LINUX, WINDOWS</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<div class="atout">LOGICIEL : PHPSTORM, VISUAL STUDIO CODE</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>


<div class="espace30"></div>
